.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/.gradle/
ios/Pods/
lib/main.dart.before_badges

lib/main.dart.before_poll_progress

lib/main.dart.before_badge_animation_image

lib/main.dart.before_home_poll_profile_fix

lib/main.dart.before_profile_const_fix

pubspec.yaml.before_twiix_logo_asset
